.lyrics {
  margin-bottom:100px;
  text-align: center;
  font-size: x-large;
  font-family:  monospace;
  line-height: 1.6;
  white-space: pre;
  background: linear-gradient(to right, #fccad2 51%, #00dfff 71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
